body {
margin:60px;
background: #1b1b1b;
font-size: 120%;
font-family: Garamond, Georgia, serif;
font-weight: 350;
color: white;
}

div.everything {
width: 80%;
margin-left: auto;
margin-right: auto;
max-width: 1400px;
}

.cover {
float: left;
width: 40%;
margin: 5px;
margin-top: 10px;
}

.intro {
width: 50%;
float: right;
margin: 5px;
}

@media screen and (max-width: 700px) {
.cover {
  float:none;
  width:auto;
}
.intro {
  float:none;
  width:auto;
}
.everything {
  width:auto;
}
}

img {
width: 100%;
margin: 0;
border: 2px solid rgb(207, 71, 146);
}

h1 {
width: auto;
font-size:4em;
font-variant: small-caps;
color:rgb(207, 71, 146);
font-weight: 700;
text-align: center;
margin-bottom: 40px;
}

h2 {
margin: 0;
margin-bottom: 30px;
font-size:2.2em;
color:rgb(0, 156, 218);
font-weight: 600;
text-align: center;
}

a.readit {
  text-decoration: none;
  color:rgb(0, 156, 218);
}

ul {
border: 2px solid rgb(0, 156, 218);
width: 220px;
margin-top: 0;
margin-bottom: 20px;
padding: 10px;
padding-left: 30px;
}

p {
margin:0;
margin-bottom: 20px;
line-height: 1.5;
}
